
html{
    background: linear-gradient(rgb(45, 11, 197), rgb(43, 203, 231));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    margin-top: 50px;
}
#title {
    color: rgb(161, 159, 159);
    text-align: center;
}

#form{
    text-align: center;
}

#main{
    border: solid black;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.hidden{
    display: none;
}